{% extends 'UmbrellaShopBundle::base_login.html.twig' %}

{% block title %}
Update product
{% endblock %}


{% block content %}

<div class="account_grid"> 
    <div class="login-right">
  		<h3>Update Product</h3>
        


<div align="right">
<a class="now-get get-cart" href="javascript:history.back()">COME BACK</a>
</div>            
    </div>           
</div>


{% endblock %}
{% set code = code(_self) %}